<div class="u-margin--b-8 flex"><div class="modal__form-label">{{ @intl.globals.patientModal.patientModalTemplate.firstName }}</div><div class="flex-grow" data-first-name-region></div></div>
<div class="u-margin--b-8 flex"><div class="modal__form-label">{{ @intl.globals.patientModal.patientModalTemplate.lastName }}</div><div class="flex-grow" data-last-name-region></div></div>
<div class="u-margin--b-8 flex"><div class="modal__form-label">{{ @intl.globals.patientModal.patientModalTemplate.dateOfBirth }}</div><div data-dob-region></div></div>
<div class="u-margin--b-8 flex"><div class="modal__form-label">{{ @intl.globals.patientModal.patientModalTemplate.sex }}</div><div data-sex-region></div></div>
{{#unless isNew}}
  <div class="u-margin--b-8 flex"><div class="modal__form-label">{{ @intl.globals.patientModal.patientModalTemplate.workspaces }}</div><div class="modal__form-component" data-workspaces-region></div></div>
{{/unless}}
