<div class="program-flow__header js-flow">
  <h1 class="program-flow__name">{{fas "folder-open"}} {{ name }}</h1>
  <div>
    <p class="program-flow__details">
    {{#if details}}
      {{ details }}
    {{ else }}
      <button class="program-flow__meta button-secondary">{{far "edit"}} Add Details</button>
    {{/if}}
    </p>{{~ remove_whitespace ~}}
    <span class="program-flow__meta" data-published-region></span>
    <span class="program-flow__meta" data-owner-region></span>
  </div>
</div>
<div class="program-flow__actions">
  <button class="button-primary js-add-action">{{far "plus-circle"}}<span>{{ @intl.programs.program.flow.headerTemplate.action }}</span></button>
</div>
