<h1 class="program-flow__name">{{fas "folder-open"}} {{ name }}</h1>
<div>
  <p class="program-flow__details">
  {{#if details}}
    {{ details }}
  {{ else }}
    <button class="program-flow__meta button-secondary">{{far "pen-to-square"}} Add Details</button>
  {{/if}}
  </p>{{~ remove_whitespace ~}}
  <span class="program-flow__meta" data-behavior-region></span>
  <span class="program-flow__meta" data-owner-region></span>
</div>
