<div class="u-margin--b-8 flex"><div class="modal__form-label">{{ @intl.clinicians.clinicianModal.clinicianModalTemplate.name }}</div><div class="flex-grow" data-name-region></div></div>
<div class="u-margin--b-8 flex"><div class="modal__form-label">{{ @intl.clinicians.clinicianModal.clinicianModalTemplate.email }}</div><div class="flex-grow" data-email-region></div></div>
<div class="u-margin--b-8 flex"><div class="modal__form-label">{{ @intl.clinicians.clinicianModal.clinicianModalTemplate.role }}</div><div class="modal__form-component" data-role-region></div></div>
<div class="u-margin--b-8 flex"><div class="modal__form-label">{{ @intl.clinicians.clinicianModal.clinicianModalTemplate.team }}</div><div class="modal__form-component" data-team-region></div></div>
<div class="u-margin--b-8 flex"><div class="modal__form-label">{{ @intl.clinicians.clinicianModal.clinicianModalTemplate.groups }}</div><div class="modal__form-component groups-manager__wrapper" data-groups-region></div></div>
