<div class="modal-header">
  <div data-header-region>
    <h6 class="modal-heading">{{ headingText }}</h6>
  </div>
  <a href="#" class="modal-close js-close"><i class="font-icon-cross"></i></a>
</div>

<div class="modal-body" data-body-region>
  <div class="{{ bodyClass }}">{{ bodyText }}{{{ bodyHTML }}}</div>
</div>

<div class="modal-footer" data-footer-region>
  <div class="u-float--right">
    {{#if cancelText}}<a href="#" class="modal-cancel js-close">{{ cancelText }}</a>{{/if}}
    <button type="submit" class="{{ buttonClass }} js-submit">{{ submitText }}</button>
  </div>
</div>
