<div class="modal__header">
  <div data-header-region>
    <h6 class="modal__heading">{{ headingText }}</h6>
  </div>
  <a href="#" class="modal__close js-close">{{fas "times"}}</a>
</div>

<div class="modal__body" data-body-region>
  <div class="{{ bodyClass }}">{{ bodyText }}{{{ bodyHTML }}}</div>
</div>

<div class="modal__footer" data-footer-region>
  <div class="u-float--right">
    <button class="button--text js-close">{{ cancelText }}</button>
    <button type="submit" class="{{ buttonClass }} js-submit">{{ submitText }}</button>
  </div>
  <div data-error-region class="modal__error"></div>
</div>
