<div class="modal__header {{ headerClass }}" data-header-region>
  <div class="flex-grow">{{ headingText }}</div>
  <button class="button--icon js-close">{{far "times"}}</button>
</div>

<div class="modal__body" data-body-region>
  <div class="{{ bodyClass }}">{{ bodyText }}{{{ bodyHTML }}}</div>
</div>

<div class="modal__footer" data-footer-region>
  <div class="modal__footer-actions">
    <button type="submit" class="{{ buttonClass }} js-submit">{{ submitText }}</button>
    {{#if cancelText}}<button class="button--text js-close">{{ cancelText }}</button>{{/if}}
  </div>
  <div data-info-region class="modal__footer-info">{{ infoText }}</div>
</div>
