<div class="flex u-margin--t-16"><h4 class="sidebar__label u-margin--t-8">{{ @intl.patients.worklist.bulkEditViews.bulkEditBodyTemplate.stateLabel }}</h4><div class="flex-grow" data-state-region></div></div>
<div class="flex u-margin--t-8"><h4 class="sidebar__label u-margin--t-8">{{ @intl.patients.worklist.bulkEditViews.bulkEditBodyTemplate.ownerLabel }}</h4><div class="flex-grow" data-owner-region></div></div>
<div class="flex u-margin--t-8"><h4 class="sidebar__label u-margin--t-8">{{ @intl.patients.worklist.bulkEditViews.bulkEditBodyTemplate.dueDayLabel }}</h4>
  <div class="flex flex-grow">{{~ remove_whitespace ~}}
    <div class="flex-grow" data-due-day-region></div>{{~ remove_whitespace ~}}
    <div class="flex-grow" data-due-time-region></div>{{~ remove_whitespace ~}}
  </div>
</div>
<div class="flex u-margin--t-8"><h4 class="sidebar__label u-margin--t-8">{{ @intl.patients.worklist.bulkEditViews.bulkEditBodyTemplate.durationLabel }}</h4><div class="flex-grow" data-duration-region></div></div>
