<div class="u-margin--t-4 u-float--left">
  <div class="programs-sidebar__label">{{ @intl.admin.sidebar.program.programStateTemplate.stateLabel }}</div>
  <div class="programs-sidebar__published{{#if published}} is-published{{/if}}">
    {{#if published}}{{fas "toggle-on"}}{{else}}{{far "toggle-off"}}{{/if}}
    {{formatMessage (intlGet "admin.sidebar.program.programStateTemplate.published") published=published}}
  </div>
</div>
<button class="js-state-toggle button-secondary programs-sidebar__state-toggle {{#unless published}} is-published{{/unless}}">
  {{#if published}}{{far "toggle-off"}}{{else}}{{fas "toggle-on"}}{{/if}}
  {{formatMessage (intlGet "admin.sidebar.program.programStateTemplate.toggle") published=published}}
</button>
