<td class="table-list__cell">
  <span class="patient__action-icon">{{far icon}}</span>{{~ remove_whitespace ~}}
  <span class="patient__action-name">
    {{ name }}{{~ remove_whitespace ~}}
    {{~#unless name}}<em>{{ @intl.patients.patient.dashboard.dashboardViews.newAction }}</em>{{/unless~}}
  </span>
</td>
<td class="table-list__cell patient__list-meta">
  <span class="table-list__meta" data-state-region></span>{{~ remove_whitespace ~}}
  <span class="table-list__meta" data-owner-region></span>{{~ remove_whitespace ~}}
  <span class="table-list__meta">{{~ remove_whitespace ~}}
    <span data-due-day-region></span>{{~ remove_whitespace ~}}
    <span data-due-time-region></span>{{~ remove_whitespace ~}}
  </span>{{~ remove_whitespace ~}}
  <span class="table-list__meta" data-form-region></span>{{~ remove_whitespace ~}}
  {{#if hasAttachments}}<span class="patient__action-attachment">{{far "paperclip"}}</span>{{/if}}{{~ remove_whitespace ~}}
  <span class="patient__action-ts">{{formatDateTime updated_at "TIME_OR_DAY"}}</span>
</td>
