<div class="flex-grow">
  <div class="flex">
    <div class="flex-grow">
      <h3 class="sidebar__heading">{{formatMessage (intlGet "patients.sidebar.action.actionSidebarTemplate.headingText") outreach=outreach}}</h3>
    </div>
    <div>
      <button class="button--icon u-margin--r-8 js-menu">{{far "ellipsis-h"}}</button>
      <button class="button--icon js-close">{{fas "times"}}</button>
    </div>
  </div>
  <div class="u-margin--t-16">
    <div data-name-region></div>
    <div class="u-margin--t-8" data-details-region></div>
    <div data-save-region></div>

    <div class="flex u-margin--t-16"><h4 class="sidebar__label u-margin--t-8">{{ @intl.patients.sidebar.action.actionSidebarTemplate.stateLabel }}</h4><div class="flex-grow" data-state-region></div></div>
    <div class="flex u-margin--t-8"><h4 class="sidebar__label u-margin--t-8">{{ @intl.patients.sidebar.action.actionSidebarTemplate.ownerLabel }}</h4><div class="flex-grow" data-owner-region></div></div>
    <div class="flex u-margin--t-8"><h4 class="sidebar__label u-margin--t-8">{{ @intl.patients.sidebar.action.actionSidebarTemplate.dueDayLabel }}</h4>
      <div class="flex flex-grow">{{~ remove_whitespace ~}}
        <div class="flex-grow" data-due-day-region></div>{{~ remove_whitespace ~}}
        <div class="flex-grow" data-due-time-region></div>{{~ remove_whitespace ~}}
      </div>
    </div>
    <div class="flex u-margin--t-8"><h4 class="sidebar__label u-margin--t-8">{{ @intl.patients.sidebar.action.actionSidebarTemplate.durationLabel }}</h4><div class="flex-grow" data-duration-region></div></div>
    {{#if hasForm}}
    <div class="flex u-margin--t-8"><h4 class="sidebar__label u-margin--t-8">{{ @intl.patients.sidebar.action.actionSidebarTemplate.formLabel }}</h4><div class="flex-grow" data-form-region></div></div>
    <div class="flex{{#if hasOutreach}} u-margin--t-24{{/if}}" data-form-sharing-region></div>
    {{else}}
    <div data-form-region></div>
    <div data-form-sharing-region></div>
    {{/if}}
  </div>
  {{#unless isNew}}
  <div class="u-margin--t-24">
    <h3 class="sidebar__heading">{{ @intl.patients.sidebar.action.actionSidebarTemplate.activityHeadingText }}</h3>
    <div class="u-margin--t-8 sidebar__activity" data-activity-region></div>
  </div>
  {{/unless}}
</div>
<div class="u-margin--t-16" data-comment-region></div>
<div data-timestamps-region></div>
