<div class="flex">
  <h3 class="sidebar__heading flex-grow">{{far "share-square" classes="u-margin--r-8"}}{{ @intl.patients.sidebar.action.formSharingTemplate.label }}</h3>
</div>
<div class="flex u-margin--t-16">
  <h4 class="sidebar__label--inset u-margin--t-8">{{ @intl.patients.sidebar.action.formSharingTemplate.recipientLabel }}</h4>
  <div class="flex-grow"><button class="button-secondary w-100" disabled>{{far "user-plus"}}<span>{{ patient.first_name }} {{ patient.last_name }}</span></button></div>
</div>
<div class="flex u-margin--t-8">
  <h4 class="sidebar__label--inset u-margin--t-8">{{ @intl.patients.sidebar.action.formSharingTemplate.stateLabel }}</h4>
  <div class="flex-grow action-sidebar__sharing-state">
    <span class="action--{{ stateOptions.color }}">{{fa stateOptions.iconType stateOptions.icon~}}
      <span>{{formatMessage (intlGet "patients.sidebar.action.formSharingTemplate.stateText") sharing=sharing}}</span>
    </span>
  </div>
</div>
{{~#if isResponded}}
<div class="u-margin--t-8 u-text-align--right">
  <button class="button--link js-response">{{ @intl.patients.sidebar.action.formSharingTemplate.buttonResponseText }}</button>
</div>
{{/if~}}

{{~#if isCanceled}}
<div class="u-margin--t-8">
  <button class="button--link js-undo-cancel"{{#if isDone}} disabled{{/if}}>{{ @intl.patients.sidebar.action.formSharingTemplate.buttonUndoText }}</button>
</div>
{{/if~}}

{{~#if isWaiting}}
<div class="u-margin--t-8">
  <button class="button--link js-cancel">{{ @intl.patients.sidebar.action.formSharingTemplate.buttonCancelText }}</button>
</div>
{{/if~}}

{{~#if isError}}
<div class="flex u-margin--t-8">
  <div class="flex-grow">
    <button class="button--link js-cancel"{{#if isDone}} disabled{{/if}}>{{ @intl.patients.sidebar.action.formSharingTemplate.buttonCancelText }}</button>
  </div>
  <button class="button--link js-share"{{#if isDone}} disabled{{/if}}>{{ @intl.patients.sidebar.action.formSharingTemplate.buttonShareText }}</button>
</div>
{{/if~}}

