<div class="flex-grow">
  <div class="flex">
    <div class="flex-grow">
      <h3 class="sidebar__heading" data-heading-region>{{ @intl.programs.sidebar.action.actionSidebarTemplate.headingText }}</h3>
    </div>
    <div>
      <button class="button--icon u-margin--r-8 js-menu">{{far "ellipsis-h"}}</button>
      <button class="button--icon js-close">{{fas "times"}}</button>
    </div>
  </div>
  <div class="u-margin--t-16">
    <div data-name-region></div>
    <div class="u-margin--t-8" data-details-region></div>
    <div data-save-region></div>

    <div class="flex u-margin--t-16"><h4 class="sidebar__label u-margin--t-8">{{ @intl.programs.sidebar.action.actionSidebarTemplate.publishedLabel }}</h4><div class="flex-grow" data-published-region></div></div>
    <div class="flex u-margin--t-8"><h4 class="sidebar__label u-margin--t-8">{{ @intl.programs.sidebar.action.actionSidebarTemplate.stateLabel }}</h4><div class="flex-grow" data-state-region></div></div>
    <div class="flex u-margin--t-8"><h4 class="sidebar__label u-margin--t-8">{{ @intl.programs.sidebar.action.actionSidebarTemplate.ownerLabel }}</h4><div class="flex-grow" data-owner-region></div></div>
    <div class="flex u-margin--t-8"><h4 class="sidebar__label u-margin--t-8">{{ @intl.programs.sidebar.action.actionSidebarTemplate.dueDayLabel }}</h4><div class="flex-grow" data-due-region></div></div>
    <div class="flex u-margin--t-8"><h4 class="sidebar__label u-margin--t-8">{{ @intl.programs.sidebar.action.actionSidebarTemplate.formLabel }}</h4><div class="flex-grow" data-form-region></div></div>
    <div class="flex u-margin--t-24" data-form-sharing-region></div>
  </div>
</div>
<div data-timestamps-region></div>
