<div class="engagement-sidebar__heading">{{ @intl.patients.sidebar.engagement.engagementContentTemplate.statusHeading }}</div>
<div class="engagement-sidebar__item">
  {{#if engagement.status}}
    <span class="engagement-status__icon {{ engagement.status }} u-margin--r-4">{{fas "circle"}}</span>{{formatMessage (intlGet "patients.sidebar.engagement.engagementContentTemplate.status") status=engagement.status}}
  {{else}}
    <span class="engagement-sidebar__no-engagement">{{ @intl.patients.sidebar.engagement.engagementContentTemplate.notAvailable }}</span>
  {{/if}}
</div>
<div class="engagement-sidebar__heading">{{ @intl.patients.sidebar.engagement.engagementContentTemplate.responderEmail }}</div>
<div class="engagement-sidebar__item">{{ responder.email }}</div>
<div class="engagement-sidebar__heading">{{ @intl.patients.sidebar.engagement.engagementContentTemplate.responderSms }}</div>
<div class="engagement-sidebar__item">{{ responder.sms }}</div>
<div class="engagement-sidebar__heading">{{ @intl.patients.sidebar.engagement.engagementContentTemplate.smsNotifications }}</div>
<div class="engagement-sidebar__item">
  {{#if smsEnabled}}
    {{ @intl.patients.sidebar.engagement.engagementContentTemplate.enabled }}
  {{ else }}
    {{ @intl.patients.sidebar.engagement.engagementContentTemplate.disabled }}
  {{/if}}
</div>
<div class="engagement-sidebar__heading">{{ @intl.patients.sidebar.engagement.engagementContentTemplate.program }}</div>
<div class="engagement-sidebar__item">{{ plan.name }}</div>
