<td class="table-list__cell w-40">
  <span class="workflows__flow-icon">{{fas "folder"}}</span>{{~ remove_whitespace ~}}
  <span class="workflows__flow-name">
    {{ name }}{{~ remove_whitespace ~}}
    {{~#unless name}}<em>{{ @intl.admin.program.workflows.flowItemTemplate.newProgramFlow }}</em>{{/unless~}}
  </span>
</td>
<td class="table-list__cell w-60">
  <span class="table-list__meta workflows__flow-status">
    {{#if isPublished}}
      <span class="workflows-action--published">{{far "play-circle"}}</span>
    {{ else }}
      <span class="workflows-action--draft">{{far "edit"}}</span>
    {{/if}}
  </span>{{~ remove_whitespace ~}}
  <span class="table-list__meta" data-owner-region></span>{{~ remove_whitespace ~}}
  <span class="workflows__item-ts">{{formatDateTime updated_at "TIME_OR_DAY"}}</span>
</td>
