    <td class="table-list__cell">
      <span class="patient__flow-icon">{{fas "folder"}}</span>{{~ remove_whitespace ~}}
      <span class="patient__action-name">{{ name }}</span>
    </td>
    <td class="table-list__cell patient__list-meta">
      <span class="table-list__meta" data-state-region></span>{{~ remove_whitespace ~}}
      <span class="table-list__meta" data-owner-region></span>{{~ remove_whitespace ~}}
      <progress class="progress-bar patient__flow-progress" value={{ _progress.complete }} max={{ _progress.total }}></progress>{{~ remove_whitespace ~}}
      <span class="patient__action-ts">{{formatDateTime updated_at "TIME_OR_DAY"}}</span>{{~ remove_whitespace ~}}
    </td>
