<td class="table-list__cell worklist-list__item-check js-no-click"><button class="button--checkbox js-select">{{#if isSelected}}{{fas "check-square"}}{{else}}{{fal "square"}}{{/if}}</button></td>
<td class="table-list__cell w-15 worklist-list__patient-name js-patient">{{ patient.first_name }} {{ patient.last_name }}</td>
<td class="table-list__cell w-30">
  <span class="worklist-list__flow-icon">{{fas "folder"}}</span>{{~ remove_whitespace ~}}
  <div class="worklist-list__name">
    {{#if flowName}}<div class="worklist-list__flow-name">{{ flowName }}</div>{{/if}}{{~ remove_whitespace ~}}
    {{ name }}
  </div>
</td>
<td class="table-list__cell w-40">
  <span class="table-list__meta" data-state-region></span>{{~ remove_whitespace ~}}
  <span class="table-list__meta" data-owner-region></span>{{~ remove_whitespace ~}}
  <progress class="progress-bar worklist-list__flow-progress" value={{ _progress.complete }} max={{ _progress.total }}></progress>{{~ remove_whitespace ~}}
</td>
<td class="table-list__cell worklist-list__action-ts w-7_5">{{formatDateTime created_at "TIME_OR_DAY"}}</td>
<td class="table-list__cell worklist-list__action-ts w-7_5">{{formatDateTime updated_at "TIME_OR_DAY"}}</td>
