<td class="table-list__header table-list__item-check"></td>
<td class="table-list__header w-15">{{ @intl.patients.worklist.tableHeaderTemplate.patientHeader }}</td>
<td class="table-list__header worklist-list__name-header">
  {{#if isFlowList}}
    {{ @intl.patients.worklist.tableHeaderTemplate.flowHeader }}
  {{ else }}
    {{ @intl.patients.worklist.tableHeaderTemplate.actionHeader }}
  {{/if}}
</td>
{{#if isFlowList}}
  <td class="table-list__header worklist-list__flow-meta-header">
    {{ @intl.patients.worklist.tableHeaderTemplate.flowAttrHeader }}
  </td>
{{else}}
  <td class="table-list__header worklist-list__action-meta-header">
    {{ @intl.patients.worklist.tableHeaderTemplate.actionAttrHeader }}
  </td>
{{/if}}
<td class="table-list__header w-10">{{ @intl.patients.worklist.tableHeaderTemplate.createdHeader }}</td>
<td class="table-list__header w-10">{{ @intl.patients.worklist.tableHeaderTemplate.updatedHeader }}</td>
