<h1 class="program-sidebar__name">{{ name }}</h1>
<button class="button--icon program-sidebar__context-menu js-menu">{{far "ellipsis-h"}}</button>
<div class="u-margin--t-16">
  <div class="program-sidebar__heading">{{ @intl.programs.program.sidebar.sidebarLayoutTemplate.details }}</div>
  <div>{{#if details}}{{ details }}{{else}}<span class="u-text--italic">{{ @intl.programs.program.sidebar.sidebarLayoutTemplate.noDetails }}</span>{{/if}}</div>
  <div class="program-sidebar__heading">{{ @intl.programs.program.sidebar.sidebarLayoutTemplate.state }}</div>
  <div class="program-sidebar__published{{#if published}} is-published{{/if}}">
    {{#if published}}{{fas "toggle-on"}}{{else}}{{far "toggle-off"}}{{/if}}
    {{formatMessage (intlGet "programs.program.sidebar.sidebarLayoutTemplate.published") published=published}}
  </div>
</div>
