<td class="table-list__cell w-40">
  <span class="patient__action-icon">{{far "file-alt"}}</span>{{~ remove_whitespace ~}}
  <span class="patient__action-name">
    {{ name }}{{~ remove_whitespace ~}}
    {{~#unless name}}<em>{{ @intl.patients.patient.dashboard.dashboardViews.newAction }}</em>{{/unless~}}
  </span>
</td>
<td class="table-list__cell w-60">
  <span class="table-list__meta" data-state-region></span>{{~ remove_whitespace ~}}
  <span class="table-list__meta" data-owner-region></span>{{~ remove_whitespace ~}}
  <span class="table-list__meta">
    <span data-due-day-region></span>{{~ remove_whitespace ~}}
    <span data-due-time-region></span>
  </span>{{~ remove_whitespace ~}}
  <span class="table-list__meta" data-attachment-region></span>{{~ remove_whitespace ~}}
  <span class="patient__action-ts">{{formatMoment updated_at "TIME_OR_DAY"}}</span>
</td>
